@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: rgb(235, 249, 255);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  letter-spacing: 5px;
}

.review {
  margin: 2rem;
  padding: 1rem 2rem;
  width: 400px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #00000033;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review__image {
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff80aacc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 5px 5px 1px #ff80aacc;
}

.review__image > img {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.review__comment {
  margin-top: 2rem;
  color: #222;
}

.review__name {
  margin-top: 1rem;
}

.review__job {
  margin-top: 1rem;
  letter-spacing: 2px;
  color: #6666FF;
  font-weight: 300;
  text-transform: uppercase;
}

.buttons {
  margin-top: 1.2rem;
  width: 50px;
  display: flex;
  justify-content: space-between;
}

.pagination {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  width: .5rem;
  height: 1rem;
}

.prev > span::before,
.next > span::after {
  content: "";
  display: block;
  height: 0.5rem;
  border-right: 2px solid #6666FF;
  position: absolute;
  margin-top: -6px;
  margin-left: 2.8px;
}

.prev > span::after,
.next > span::before {
  content: "";
  display: block;
  height: 0.5rem;
  border-right: 2px solid #6666FF;
  position: absolute;
  margin-top: -1.5px;
  margin-left: 2.8px;
}

.next > span::before,
.prev > span::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.next > span::after,
.prev > span::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}