@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: rgb(235, 249, 255);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 2rem;
  padding: 2rem 2rem;
  box-shadow: 0 5px 10px 2px #0003;
  border-radius: 5px;
  text-align: center;
}

.openModal {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border: 2px solid #6666ff;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  background: #FFF;
  color: #6666ff;
  cursor: pointer;
}

.openModal:hover {
  background: #6666ff;
  color: #FFF;
  border-color: #FFF;
  transition-duration: 500ms;
}

.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000a;
  overflow: hidden;
  transition: opacity 300ms ease-in;
  z-index: -10;
  opacity: 0;
}

.modalContainer.active {
  opacity: 1;
  z-index: 10;
}

.modal {
  position: relative;
  text-align: center;
  margin: 2rem;
  padding: 4rem;
  background-color: #FFF;
  border-radius: 5px;
}

.modal>h1 {
  margin-bottom: 1rem;
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.4rem;
  color: #6666ff;
  line-height: 1.375rem;
  transition: transform 200ms linear;
}

.closeModal:hover {
  color: #2525aa;
  transform: rotate(180deg);
}