@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  margin: 2rem;
  background-color: #000;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: #FFF;
  text-align: center;
}

#value {
  color: #99CCCC;
}

#button {
  background-color: transparent;
  border: #000 solid 2px;
  border-radius: 10px;
  padding: .5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

#button:hover {
  background: #000;
  color:#FFF;
  border-color: #FFF;
  transition-duration: 500ms;
}